<div class="container mt-3">
    <div class="d-flex align-items-center justify-content-between py-4 results">
        <div>Showing 1-40 of 350</div>
        <div> <span>Price: </span> <select name="price" id="price">
                <option value="l2h" selected>low to high</option>
                <option value="l2h">high to low</option>
            </select> </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-png-images-download-wedding-bangle-ring-9.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$140</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-saraswati-png-transparent-saraswati-images-7.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$155</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-wedding-folk-your-true-folk-wedding-ceremony-4.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$130</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-transparent-png-pictures-icons-and-png-34.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$153</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/wedding-jewellery-png-image-with-transparent-backgound-13.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$250</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-jewelry-images-png-style-guru-fashion-glitz-glamour-33.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$150</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-price-for-jewelry-and-jewelry-objects-salzburg-act-29.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$120</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
            <div class="card"> <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-png-images-download-wedding-bangle-ring-9.png">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">Pearl earrings</div>
                            <div class="text-muted">$150</div>
                        </div>
                        <div class="btn"><span class="far fa-heart"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>